{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block header %} {{ recipe.name }} {% endblock %}

{% block description %} {{ recipe.description }} {% endblock %}




{% block body %}
  <i class="far fa-clock"></i> <strong>Time:</strong> {{ recipe.time }}  <br>

  <i class="fas fa-utensils"></i> <strong>Quantity:</strong> {{ recipe.quantity }}

<p><br> {% for tag in recipe.categories %} <a href= {{ url_for('cookbook.category', category = tag) }}> <button type="button" class="btn btn-light"> {{tag.capitalize()}} </button> </a>{% endfor %}</p>


<hr>

<h3>Ingredients</h3>

<ul>
    {% for thing, amount in recipe.ingredients.items() %}
        <li> <strong>{{amount}}</strong> {{thing.capitalize()}}</li>
    {% endfor %}
</ul>

<h3>Recipe:</h3>

<ol>
    {% for step in recipe.recipe %}
        <li>{{step}}</li>
    {% endfor %}
</ol>



<h4>Notes</h4>

{% if 'notes' in recipe.keys() %}
    {% for notes in recipe.notes %}
        <p> {{notes}} </p>
    {% endfor %}
{% endif %}





{% endblock %}