{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block header %} {{ recipe.name }} {% endblock %}

{% block description %} {{ recipe.description }} {% endblock %}

{% block body %}




  <i class="far fa-clock"></i> <strong>Time:</strong> {{ recipe.time }}  <br>

  <i class="fas fa-utensils"></i> <strong>Quantity:</strong> {{ recipe.quantity }}

<p><br> {% for tag in recipe.categories %} <a href= {{ url_for('cookbook.category', category = tag) }}> <button type="button" class="btn btn-light"> {{tag.capitalize()}} </button> </a>{% endfor %}</p>

<hr>

<h2>Ingredients</h2>

<ul>
    {% for thing, amount in recipe.ingredients.items() %}
        <li> <strong>{{amount}}</strong> {{thing.capitalize()}}</li>
    {% endfor %}
</ul>

<h2>Recipe:</h2>

<ol>
    {% for step in recipe.recipe %}
        <li>{{step}}</li>
    {% endfor %}
</ol>


{% endblock %}